page-address-search {
  ion-list {
  	margin: 0 !important;
    }
}

ion-range#RadiusRange {
  /* z-index: 0; */
  position: relative !important;
  top: 0px;
  left: 0px !important;
  background: #0A50A1;
  color:#fff;

}

div.range-slider div.range-bar.range-bar-active {
  background-color: #fff;

}

div.range-slider div.range-knob-handle div.range-knob {
  background-color: #fff;

}
